#about{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100vw;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("../assets/images/me.jpeg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  /*background-color: #1b0a3a;*/
}

.allabout {
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 15px;
  padding-right: 30px;
}

.aboutme {
  width: 250px;
  padding: 15px;
  background-color: #5C3E94;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: whitesmoke;
  padding-left: 50px;
  background: linear-gradient(45deg, #1b0a3a, #5C3E94);
}

.paragraph {
  color: whitesmoke;
  margin-left: 50px;
  font-size: 15px;
  max-width: 770px;
}

/*
.photo {
  padding-right: 50px;
}

.maphoto {
  width: auto;
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
  text-align: right;
}
  */

@media (max-width: 1024px) {
  .paragraph {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 15px;
  }

  #about {
    background-position: center;
    height: auto;
    padding-top: 50px;
  }
}

@media (max-width: 375px) {
  .paragraph {
    font-size: 10px;
  }

  #about {
  background-position: center;
  }
}