.App{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .App {
    gap: 100px;
  }
}

@media (max-width: 768px) {
  .App {
    gap: 120px;
  }
}

@media (max-width: 315px) {
  .App {
    gap: 150px;
  }
}