#navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 1% 4%;
  width: 100%;
  background-color: black;
  z-index: 999;
  transition: background-color 0.3s ease;
}

#navbar.transparent {
  background-color: transparent;
}

.logo{
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 50px;
  color: #5C3E94;
  margin: 0;
}

.link {
  margin-left: 30px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}

.link:hover {
  color: #5C3E94;
}

.link:focus {
  color: #5C3E94;
}