#navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
}

.logo{
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 50px;
  color: #5C3E94;
  margin-left: 20px;
}

#links{
  position: fixed;
  right: 50px;
}

.link {
  margin-left: 30px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}

.link:focus {
  color: #5C3E94;
}